/*importing fonts*/
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Mali:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

/*VARIABLES*/
:root {
  --mantis: #5fad56;
  --saffron: #f2c14e;
  --coral: #f78154;
  --viridian: #4d9078;
  --raspberry: #b4436c;
}

.App {
  text-align: center;
  min-width: 100dvw;
  min-height: 100dvh;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  background-color: var(--raspberry);
  font-family: "Mali";
}
.App::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  position: fixed;
  left: 20px;
}
.App::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #68273f, var(--raspberry));
  border-radius: 10px;
}

/*styling*/
/***Login***/
.loginContainer {
  padding-top: 5em;
}

/***NAV***/
#root > div > nav {
  padding: 0.5em;
  background-color: #ba4771e7;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 6000;
  display: flex;
  justify-content: space-between;
}
#root > div > nav a {
  text-decoration: none;
  color: var(--viridian);
}
#navLogo {
  height: 50px;
  aspect-ratio: 1/1;
}
#root > div > nav > div > button {
  border: none;
}
#root > div > nav > div > button:focus {
  border: none;
}
#hamburgermenu {
  color: var(--viridian);
}
/***MainPage***/
#homeMainBox {
  padding-top: 4.5em;
  padding-bottom: 5.5em;
}
/*recipeCards*/
.recipeCard {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  width: 90%;
  height: 400px;
  margin: auto;
  box-shadow: #68273f 0 0 10px;
  margin-bottom: 1em;
  position: relative;
}
.recipeCardNameBox {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 0.5em;
  background-image: linear-gradient(90deg, var(--coral) 35%, #bf623d 85%);
}
.recipeCardNameBox > div {
  display: flex;
  gap: 5px;
}
.recipeEditButton {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  border-radius: 50%;
}
.recipeEditButton:hover {
  background-color: #4d9078;
  color: var(--saffron);
}
.recipeAvatarBox {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 10px 0;
  border: var(--raspberry) 1pt solid;
  box-shadow: var(--raspberry) -5px 5px 10px;
  overflow: hidden;
}
.recipeAvatarBox img {
  height: 100%;
  object-fit: cover;
}
.recipeCardPhotoBox {
  height: 425px;
}
.recipeCardPhotoBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.recipeTitle {
  color: white;
  background-image: linear-gradient(#4d9079bd 45%, transparent);
  padding: 0.5em;
  font-weight: bold;
  text-shadow: black 0 0 1px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 0;
  border-radius: 0 0 0 20px;
}
.favoriteBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.singleDescription {
  position: absolute;
  bottom: 0;
  padding: 0.5em;
  width: 100%;
  color: white;
  background-color: #bf623dc3;
}
/*Calendar*/
.rbc-calendar {
  background-color: white;
  border: none;
}
.rbc-month-view {
  border-radius: 5px;
}
.rbc-day-bg + .rbc-day-bg {
  border: 1px solid #ddd;
  border-radius: 5px;
  color: var(--coral);
}
/*MyProfile*/
.profilePage {
  padding-top: 6.5em;
  position: relative;
}
#userPicBox {
  width: 50%;
  overflow: hidden;
  border-radius: 10px 0 10px 0;
  position: relative;
}
#userPicButtonFilter {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #5fad56ac;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  color: var(--saffron);
  display: flex;
  justify-content: center;
  align-items: center;
}
#userPicButtonFilter:hover {
  opacity: 1;
}
#userPicBox img {
  width: 100%;
  height: 100%;
}
#changePicModal {
  position: absolute;
  background-color: #e17247;
  border-radius: 0 10px 0 10px;
  padding: 0.5em;
  top: 104px;
  right: 40px;
  width: 75%;
  height: 164px;
  display: flex;
  flex-direction: column;
}
#picModalTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#modalExitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 0.5em;
  position: absolute;
  top: -20px;
  right: -18px;
  color: var(--saffron);
  background-color: var(--viridian);
}
#modalExitButton:hover {
  background-color: red;
  color: white;
}
#nameAndEdit {
  display: flex;
  justify-content: space-around;
}
#nameAndEdit > h3 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*edit Recipe Modal*/
#editRecipeModal {
  position: fixed;
  top: 5.5em;
  left: 0;
  height: 75dvh;
  width: 100dvw;
  background-color: #4d9079e6;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}
/*Footer*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #ba4771d4;
}
footer div {
  font-family: "Cabin Sketch";
  padding: 0.5em;
}
