.App {
  text-align: center;
}

/*VARIABLES*/
:root {
  --mantis: #5fad56;
  --saffron: #f2c14e;
  --coral: #f78154;
  --viridian: #4d9078;
  --raspberry: #b4436c;
}

/*styling*/
#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
